.panda-card{
    border: 0px;
    }
    
    .panda-card-footer{
        background-color: white;
        border: 0px;
    }
    .categories img{
        width: 100px;
    }
    .panda-slide .carousel-item{
    background-color: #f8f4f1;
    border-radius: 1em;
    height: 10%;
    padding-top: -30%;
    }
    .panda-img{
        width: 200px;
        text-align: center;
    }

    .panda-btn{
        text-align: right;
      
    }
    .panda-btn1{
        font-size: large;
        background-color: rgb(40, 173, 16);
        border-radius: 10px;
        
    }
    .panda-h2{
        height: 10px;
        text-align: left;
        font-size: 300%;
        color: orange;
    }
    .right{
        text-align: right;
    }